<app-nav-bar></app-nav-bar>

<div class="container">
    <label for="formFile1" class="form-label aux">Cargar datos de los clientes</label>
    <div class="row">
        <div class="col-auto">
            <input class="form-control" type="file" id="formFile1">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">
                Guardar Clientes
            </button>
        </div>
    </div>



    <label for="formFile2" class="form-label aux">Cargar los datos de los Productos</label>
    <div class="row">
        <div class="col-auto">
            <input class="form-control" type="file" id="formFile2">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">
                Guardar Productos
            </button>
        </div>
    </div>

    <label for="formFile2" class="form-label aux">Cargar Datos de las Marcas</label>
    <div class="row">
        <div class="col-auto">
            <input class="form-control" type="file" id="formFile2">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">
                Guardar Marcas
            </button>
        </div>
    </div>


    <label for="formFile2" class="form-label aux">Cargar los datos de la compras</label>
    <div class="row">
            <div class="col-auto">
                <input class="form-control" type="file" id="formFile2">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary">
                    Guardar compras
                </button>
            </div>
     </div>
     <button class="btn btn-primary btnF">
        Finalizar
     </button>
</div>
