<app-nav-bar></app-nav-bar>

<div class="container">
    <label for="formFile1" class="form-label aux">Escriba la ruta donde se encuntran sus datos en CSV</label>
    <div class="row">
        <div class="col-auto">
            <input class="form-control" type="file" id="formFile1"  name="path"  #path="ngModel" [(ngModel)]="datosExcel.path">
        </div>
    </div>

     <button class="btn btn-primary btnF" (click)="creatDataBase(datosExcel)">
        Subir datos del csv
     </button>
</div>
