<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="mb-3">
        <label for="formFile1" class="form-label">Cargar datos de los clientes</label>
        <input class="form-control" type="file" id="formFile1">
    </div>
    <button>
        Guardar Clientes
    </button>

    <div class="mb-3">
        <label for="formFile2" class="form-label">Cargar los datos de los Productos</label>
        <input class="form-control" type="file" id="formFile2">
    </div>
    <button>
        Guardar Productos
    </button>

    <div class="mb-3">
        <label for="formFile2" class="form-label">Cargar Datos de las Marcas</label>
        <input class="form-control" type="file" id="formFile2">
    </div>
    <button>
        Guardar Marcas
    </button>

    <div class="mb-3">
        <label for="formFile2" class="form-label">Cargar los datos de la compras</label>
        <input class="form-control" type="file" id="formFile2">
    </div>
    <button>
        Guardar Compras
    </button>

    <button>
        Cargar datos
    </button>


</div>
