<app-nav-bar></app-nav-bar>


<div class="container">
  
  <div class="container">
    <form class="row">
      <div class="col">
        <input type="text" class="form-control label" id="" placeholder="Nombre del Cliente" name="nombre" #nombre="ngModel" [(ngModel)]="buscarCliente.clientName">
      </div>
      <div class="col">
        <input type="text" class="form-control" id="" placeholder="Apellido del Cliente" name="lastname"#nombre="ngModel" [(ngModel)]="buscarCliente.clientLastName">
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary mb-3" (click)="cargarHistorialCliente()">Aceptar</button>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="largo">Seleccionar algun producto:</h4>

          <select class="form-select largo" id="validationCustom04" name="6" required="" #product="ngModel" [(ngModel)]="producto.productName">
            <optgroup label="">
              <option *ngFor="let item of datos">{{item.productName}}</option>
            </optgroup>
        </select>
          <div class="">
            <button type="submit" class="btn btn-danger btnAux" (click)="cargarListaClientes()">Buscar clientes</button>
          </div>
       </div>
      </div>
    </form>
  </div>

  <h5 class="labelAux"> Nombre Completo de los cliente con el mismo producto</h5>
  <div class="container">
    <table class="table table-info table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListaClientes">
            <th scope="row">{{item.clientName}}{{item.clientLastName}}</th>
        </tbody>
    </table>
  </div>

</div>







