<app-nav-bar></app-nav-bar>


<div class="container">
  
  <div class="container">
    <form class="row">
      <div class="col">
        <input type="text" class="form-control label" id="" placeholder="Buscar Cliente">
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary mb-3">Aceptar</button>
      </div>
      <div class="row">
        <div class="col">
          <select class="form-select labelAux2" aria-label="Default select example">
            <option selected>Producto Adquerido</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="">
            <button type="submit" class="btn btn-danger btnAux">Buscar cliente</button>
          </div>
       </div>
      </div>
    </form>
  </div>

  <h5 class="labelAux"> Nombre Completo de los cliente con el mismo producto</h5>
  <div class="container">
    <table class="table table-info table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Galaxy s10</th>

        </tbody>
    </table>
  </div>

</div>







