<app-nav-bar></app-nav-bar>

<form class="row g-2">
    <div class="col-auto">
      <input type="text" class="form-control" id="" placeholder="Buscar Cliente">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Aceptar</button>
    </div>


    <select class="form-select" aria-label="Default select example">
        <option selected>Producto Adquerido</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Buscar</button>
    </div>

</form>


<h3>Clientes con un producto comun</h3>
<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Clientes que han adquirido este producto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Juan</th>
      </tbody>
    </table>
</div>

