.tamano{
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
    background: #62C6CA;
    border-color: transparent;
}

.tamano:hover {
    background: #FAB04A;
  }
  
  .posicion{
    margin-left: 15%;
    margin-right:5% ;
    z-index: -1;
  }
  
  
  .margen{
    margin: 5%;
  }
  
  .botones{
    background: #62C6CA;
    margin-top: 1%;
    margin-left: 10%;
    border-color: transparent;
    color: black;
    width: 80%;
  
  }
  
  .botones:hover{
    background: #FAB04A;
  }
  
  .modal{
    background: #3c3c3c;
  }
  
  .color{
    color: white;
    background: #3c3c3c;
  }
  
  .cardPosicion{
    width: 10%;
    margin-left: 2%;
    margin-top: 10px;
    background: white;
    color: black;
  }
  .card{
    height: 230px;
    width: 200px;
    margin-bottom: 50px;
  }
  
  .card2{
    height: 490px;
    width: 100px;
    margin-bottom: 50px;
  }