<app-nav-bar></app-nav-bar>


<form class="row g-2">
    <div class="col-auto">
      <input type="text" class="form-control" id="" placeholder="Buscar Cliente">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Aceptar</button>
    </div>



</form>


<h3>Clientes y productos comun</h3>
<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombres del cliente</th>
          <th scope="col">Nombres del producto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Juan</th>
          <th scope="row">Galaxy s10</th>

      </tbody>
    </table>
</div>

