<app-nav-bar></app-nav-bar>

<div class="container">
    <form class="row">
      <div class="col">
        <h4 class="largo">Selecione comprador:</h4>
          <select class="form-select largo" id="validationCustom04" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.clientId">
            <optgroup label="">
              <option *ngFor="let itemAux of listaClientes">{{itemAux.clientName}} {{itemAux.clientLastName}}</option>
            </optgroup>
           </select>
      </div>
    </form>
    <div class="row" >
      <div class="col" *ngFor="let item of listaProductos">
        <div class="card" >
          <div class="card-body">
              <div>
                  <label>ID: {{item.productId}}</label>
              </div>
              <div>
                  <label>Nombre: {{item.productName}}</label>
              </div>
              <div>
                  <label>Marca: {{item.productBrand}}</label>
              </div>
              <div>
                  <label>Precio: {{item.productPrice}}</label>
              </div>
          </div>
            <div class="card-footer">
            <button class="btn  botones" data-bs-toggle="modal"  data-bs-target="#comprarProducto" (click)="obtenerInformacionItem(item)">Comprar Porducto</button>
            </div>
          </div>
        </div>
    </div>

</div>

<div class="modal fade" id="comprarProducto" tabindex="-1" aria-labelledby="comprarProducto" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarProducto">Agregar la cantidad de productos deseados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <label>Cantidad:</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" required="" name="cantida" #nombre="ngModel" [(ngModel)]="compra.quantity">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar comprar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="AgregarListaCompra()">Agregar al carritto</button>
        </div>
      </div>
    </div>
</div>

<div class="">
    <button type="submit" class="btn btn-danger btnAux" (click)="FinalizarCompra()">Finalizar la compra</button>
  </div>