
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Tienda TEC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" >Carga de datos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" >Mantenimiento clientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" >Mantenimiento del catálogo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" >Registro de compras</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" >Top 5 de productos más vendidos.</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" >Top 5 de marcas más vendidas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" >Top 5 de clientes con más compras</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active">Búsqueda de un cliente</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active">Clientes y producto común</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active">Clientes compras en común</a>
        </li>

      </ul>

    </div>
  </div>
</nav>