
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Tienda TEC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('cargaDatos')">Carga de datos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('MantenimientoClientes')">Mantenimiento clientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('MantenimientoCatalogo')">Mantenimiento del catálogo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('RegistroCompras')">Registro de compras</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('Top5productos')">Top 5 de productos más vendidos.</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('Top5Marcas')">Top 5 de marcas más vendidas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('Top5Clientes')">Top 5 de clientes con más compras</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('BusquedaCliente')">Búsqueda de un cliente</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('ClienteProductos')">Clientes y producto común</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" (click)="navegation('ClienteCliente')">Clientes compras en común</a>
        </li>

      </ul>

    </div>
  </div>
</nav>